<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sketch.deliveryboy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".utils.GlobalClass"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.sketch.deliveryboy.Activity.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginScreen"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan"/>
        <activity android:name=".Activity.ProfileScreen"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan"/>


        <activity android:name=".Activity.JobDetailScreen"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan"/>

        <activity android:name=".Activity.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan"/>

        <activity android:name=".Activity.JobStatus"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan"/>

        <activity android:name=".Activity.Delivered"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan"/>

        <activity android:name=".Activity.UserRating"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan"/>

        <activity
            android:name=".Activity.Forget_Password"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".Activity.Reset_Password"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".Activity.Product_Detail_Screen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".Activity.Request_Money_Screen"
            android:windowSoftInputMode="stateHidden|adjustPan" />


        <service android:name=".utils.GPSTracker"/>


    </application>

</manifest>